:root {
  --blue: #109CF1;
  --dark-blue: #334D6E;
  --light-blue: #CFEBFC;
  --middle-blue: #9FD7F9;
  --yellow: #FFB946;
  --red: #F7685B;
  --green: #2ED47A;
  --purple: #885AF8;
  --black: #192A3E;
  --table-black: #323C47;
  --table-grey: #707683;
  --grey: #90A0B7;
  --grey-light: #C2CFE0;
  --grey-extra-light: #EFF1F4;
  --grey-skeleton: #F5F6F8;
  --white: #FFF;
  --radius: 4px;
}

* {
  box-sizing: border-box;
}

HTML {
  font-size: 16px;
}

BODY {
  display: flex;
  min-height: 100vh;
  margin: 0;
  background: #FFF;
  font: 1rem/1.4 Trebuchet MS, Verdana, sans-serif;
  color: #000;
}

H1,
H2,
H3,
H4 {
  margin-top: 0;
  margin-bottom: .5em;
  font-weight: normal;
}

H1 {
  font-size: 2.75rem;
}

H2 {
  font-size: 2.25rem;
}

H3 {
  font-size: 1.75rem;
}

H4 {
  font-size: 1.25rem;
}

A,
A:visited,
A:hover {
  color: inherit;
}

A:hover {
  text-decoration: none;
}

BUTTON,
INPUT,
TEXTAREA,
SELECT,
.control {
  display: block;
  padding: .5rem;
  background: none;
  border-radius: var(--radius);
  text-decoration: none;
  font: inherit;
}

SELECT {
  height: 40px;
}

BUTTON {
  cursor: pointer;
}

BUTTON:disabled {
  cursor: not-allowed;
}

.control--green {
  background: var(--green);
  border: none;

  &,
  &:visited,
  &:hover {
    color: #FFF;
  }
}

.control--blue {
  background: var(--blue);
  border: none;

  &,
  &:visited,
  &:hover {
    color: #FFF;
  }
}

.control--dark-blue {
  background: var(--dark-blue);
  border: none;

  &,
  &:visited,
  &:hover {
    color: #FFF;
  }
}

.control--loading {
  background: greenyellow;
  background-image: repeating-linear-gradient(
    -45deg,
    rgba(0, 0, 0, .05),
    rgba(0, 0, 0, .05) .5rem,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0) 1rem
  );
  background-position: 0 0;
  text-shadow: 0 0 3px rgba(0, 0, 0, .75);
  animation: bgposition .25s linear infinite;
}

@keyframes bgposition {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 1.5rem 0;
  }
}

INPUT,
TEXTAREA,
SELECT {
  width: 100%;
  border: 1px solid var(--grey-light);
}

[hidden] {
  display: none;
}

.page-layout {
  display: flex;
  width: 100%;
}
