.product-form {
  margin-bottom: 2rem;
}

.page-content__header-create {
  .page-content--create & {
    display: none;
  }
}

.product-form__list,
.product-form__footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.product-form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.product-form__item {
  grid-column: 1 / span 2;

  &--full {
    grid-column: 1 / span 3;
  }

  &--tiny {
    grid-column: 1 / span 1;
  }

  &--follow {
    grid-column-start: auto;
  }

  & + & {
    margin-top: 1rem;
  }
}

.product-form__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.product-form__input--textarea {
  min-height: 200px;
}

// Images
.product-form__images-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.product-form__images-list:empty {
  border: 1px dashed var(--grey-light);
  text-align: center;

  &::before {
    width: 100%;
    content: "Use button below to add images here";
    color: var(--grey);
  }
}

.product-form__images-item {
  background: var(--grey-extra-light);
}

.product-form__images-item,
.product-form__images-list:empty {
  display: flex;
  align-items: center;
  padding: .5rem;
  border-radius: var(--radius);

  & + & {
    margin-top: .5rem;
  }
}

.product-form__image-wrapper {
  position: relative;
}

.product-form__image {
  display: block;
  width: 100%;
  max-width: 80px;
  min-width: 40px;
  height: 40px;
  object-fit: contain;
  padding: 4px;
  border: 1px solid var(--grey-light);
  background: var(--white);
  border-radius: var(--radius);
}

.product-form__preview {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  padding: .25em;
  background-origin: content-box;
  background-color: var(--white);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 1px solid var(--grey-light);
  transition: all .25s;
}

.product-form__preview:hover {
  width: 300%;
  height: 300%;
  transform: translateX(-35%) translateY(-35%);
  opacity: 1;
}

.draggable-list__item--dragged .product-form__preview {
  pointer-events: none;
}

.product-form__image-source {
  margin-left: 1rem;
}

.product-form__image-remove {
  width: 3rem;
  align-self: stretch;
  margin-left: auto;
  background: url("icon-trash.svg") 50% 50% no-repeat;
  font-size: 0;
  border: none;
}

.product-form__upload {
  margin-top: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

// Footer
.product-form__footer {
  margin-top: 2rem;
}

.product-form__submit {
  font-size: 1.3em;
}
