.draggable-list {
  position: relative;
}

.draggable-list__item {
  display: flex;
  align-items: center;
  cursor: grab;

  &::before {
    content: "";
    display: block;
    height: 18px;
    width: 11px;
    margin-right: 1rem;
    background: url("grab-icon.svg") 50% 50% no-repeat;
    opacity: .5;
  }
}

// Dirty specifity hack
.draggable-list .draggable-list__item--placeholder {
  background-color: var(--grey-light);

  &::before {
    background: none;
  }
}

.draggable-list__item--pressed {
  background: var(--white);
  box-shadow: 0 0 1rem rgba(0, 0, 0, .35);
  cursor: grabbing;

  &::before {
    opacity: 1;
  }
}

.draggable-list__item--dragged {
  position: absolute;
  left: 0;
  right: 0;
  /* stylelint-disable-next-line declaration-no-important */
  margin-top: 0 !important;
}
