.tooltip {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  margin: .5rem 0 0 1rem;
  padding: .5rem;
  background: #EEE;
  box-shadow: 0 0 5px rgba(0, 0, 0, .25);
  border-radius: 3px;
  line-height: 1;
  color: #555;
  transform: translate(0, 0);
  opacity: 0;
  transition: .1s, .01s;
  transition-property: opacity, transform;
  pointer-events: none;
}

.tooltip[data-visible="1"] {
  opacity: 1;
}

[data-tooltip-content] {
  opacity: 1;
  transition: opacity .2s;
}

.tooltips-container--faded [data-tooltip-content]:not(:hover) {
  opacity: .5;
}
