.column-chart {
  position: relative;
  min-width: 180px;
  flex-basis: calc((100% - 2rem) / 3);
  max-width: 300px;
  margin: 0 0 .5rem 0;
  padding: 20px;
  border: 1px solid #DDD;
  border-left: 5px solid #DDD;
  border-radius: 5px;
  box-sizing: border-box;
}

.column-chart + .column-chart {
  margin-left: 1rem;
}

.column-chart__title {
  margin: 0;
  line-height: 1;
  font-weight: normal;
  font-size: 1em;
  color: #999;
}

.column-chart__total {
  margin-top: 1rem;
  font-size: 1.6em;
  line-height: 1;
}

.column-chart__list {
  display: flex;
  align-items: flex-end;
  height: 50px;
  margin: 0;
  margin-top: .5rem;
  padding: 0;
  list-style: none;
}

.column-chart__item {
  flex-grow: 1;
  margin-left: 1px;
  background: #DDD;
  cursor: pointer;
  transition: opacity .1s;
}

.column-chart__item:first-child {
  margin-left: 0;
}

.column-chart__list--faded .column-chart__item:not(:hover) {
  opacity: .5;
}

.column-chart__tooltip {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  margin: .25rem .5rem 0 0;
  padding: .5rem;
  background: #EEE;
  box-shadow: 0 0 5px rgba(0,0,0,.25);
  border-radius: 3px;
  line-height: 1;
  color: #555;
  transform: translate(0,0);
  opacity: 0;
  transition: .1s;
  transition-property: opacity, transform;
  pointer-events: none;
}

.column-chart__tooltip-date {
  font-size: .9em;
}
.column-chart__tooltip-quantity {
  margin-top: .25em;
  font-size: 1.1em;
}


.column-chart__tooltip[data-visible="1"] {
  opacity: 1;
}

/* Mods */
.column-chart--customers {
  border-left-color: gold;
}
.column-chart--customers .column-chart__item {
  background: gold;
}

.column-chart--orders {
  border-left-color: turquoise;
}
.column-chart--orders .column-chart__item {
  background: turquoise;
}

.column-chart--sales {
  border-left-color: yellowgreen;
}
.column-chart--sales .column-chart__item {
  background: yellowgreen;
}
