.column-chart {
  display: flex;
  position: relative;
  min-width: 180px;
  flex-basis: calc((100% - 2rem) / 3);
  max-width: 300px;
  min-height: 150px;
  max-height: 300px;
  margin: 0 0 .5rem 0;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid var(--grey-light);
  border-left: 5px solid var(--grey-light);
  border-radius: 5px;
}

.column-chart + .column-chart {
  margin-left: 1rem;
}

.column-chart__content {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.column-chart__title {
  margin: 0;
  line-height: 1;
  font-weight: normal;
  font-size: 1em;
  color: var(--grey);
}

.column-chart__total {
  margin-top: 1rem;
  font-size: 1.6em;
  line-height: 1;
}

.column-chart__list {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 50px;
  margin: 0;
  margin-top: .5rem;
  padding: 0;
  list-style: none;
}

.column-chart__item {
  flex-grow: 1;
  margin-left: 1px;
  background: var(--grey-light);
  cursor: pointer;
}

.column-chart__item:first-child {
  margin-left: 0;
}

// Tooltip content
.column-chart__tooltip-date {
  font-size: .9em;
}

.column-chart__tooltip-quantity {
  margin-top: .25em;
  font-size: 1.1em;
}

// Mods
.column-chart--customers {
  border-left-color: gold;
}

.column-chart--customers .column-chart__item {
  background: gold;
}

.column-chart--orders {
  border-left-color: turquoise;
}

.column-chart--orders .column-chart__item {
  background: turquoise;
}

.column-chart--sales {
  border-left-color: yellowgreen;
}

.column-chart--sales .column-chart__item {
  background: yellowgreen;
}

.column-chart__error {
  max-width: 100%;
  overflow: auto;
}
